:root {
  --bs-body-bg2: linear-gradient(314deg, #292929 -.18%, rgba(70, 97, 115, 0.00) 100.65%);
  --bs-body-font-family2: 'Poppins', sans-serif;
  --primary-color: #292929;
  --bs-body-bg3: #D9D9D9;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family2) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bs-body-bg2);
  color: var(--primary-color) !important;
}

h1 {
  font-weight: 800 !important;
  font-size: 5rem !important;
}

h2 {
  font-weight: 800 !important;
  font-size: 4rem !important;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem !important;
}
p{
  font-size: 1rem!important;
}